/* Estilo para una plantilla general */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px;
    background-color: #252525;
    color: white;
}

nav ul {
    display: flex;
    gap: 20px;

    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 40px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #252525;
    color: white;
}

section {
    max-width: 1300px;
    margin: 0 auto;
}

/* Estilo para página principal */

main section {
    margin-bottom: 40px;
}

figure {
    margin: 20px 0;
}

figure img {
    max-width: 100%;
    height: auto;
}

article {
    padding: 20px;
    border: 1px solid #cccccc;
}

article a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

/* Página de estilo para productos */

#lista-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

#lista-productos article {
    padding: 20px;
    border: 1px solid #cccccc;
}

#lista-productos h3 {
    margin-top: 0;
}

#lista-productos button {
    padding: 10px 15px;
    cursor: pointer;
}

/* Nosotros */

